[submodule "head"]
	path = head
	url = https://github.com/Jamie-Lee-Birdis/hero-section.git
[submodule "body"]
	path = body
	url = https://github.com/Jamie-Lee-Birdis/body.git
[submodule "reviews"]
	path = reviews
	url = https://github.com/Jamie-Lee-Birdis/reviews.git
